*{
  font-family: 'Yu Gothic', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 24px 20px;
    background-color: #fff;
    border-bottom: 2px solid #ff99bb;
    
  }
  
  header a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    margin-left: 15px;
  }
  
  header a:hover {
    color: #ff6699;
  }
  
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 1rem;
  }
  