/* List.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    padding-top: 20px;
  }
  
  
  .container {

    width: 70%;
    margin: auto;
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main li {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  li button {
    margin-left: 5px;
    width: 240px;
  }
  
  li span {
    font-weight: bold;
  }

  li .item-category {
    margin: 48px;
  }

  li .item-name {
    font-weight: medium;
    font-size: 24px;
    color: #333;

  }

  li .item-count {
    font-size: 24px;

  }

  li .opened-limited {
    
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .itemlist:hover {
    background-color: #f9f9f9;
    transform: translateY(2px);
  }

  .item-opened-date {
    font-size: 24px;
  }

  .item-limited-date {
    font-size: 24px;
  }

  .zaikosu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin: 48px;
  }

  .button-group {
    display: flex;
    align-items: center;
    
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  
  @media (max-width: 768px) {
    .container {
      width: 80%;
    }

    main li {
      flex-direction: column;
      align-items: center;
    }

    li .item-category,
    li .item-name,
    li .item-count,
    li .opened-limited,
    li .item-opened-date,
    li .item-limited-date {
      font-size: 18px;
      margin: 4px 0;
      align-items: center;
    }

    li .item-name {
      font-size: 24px;
      font-weight:400;
    }

    .zaikosu {
      margin: 8px;
    }
    
    .opened-limited {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    li button {
      width: 100%;
      height: 48px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button-group {
      flex-direction: column;
      width: 100%;
    }
  }