/* List.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    padding-top: 20px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  
  .container {

    width: 70%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main li {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  li button {
    margin-left: 5px;
    width: 240px;
  }
  
  li span {
    font-weight: bold;
  }

  li .item-category {
    margin: 48px;
  }

  li .item-name {
    font-weight: medium;
    font-size: 24px;
    color: #333;

  }

  li .item-count {
    font-size: 24px;

  }

  li .opened-limited {
    
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
  }

  ul :hover {
    background-color: #f9f9f9;
    transform: translateY(2px);
  }

  .item-opened-date {
    font-size: 24px;
  }

  .item-limited-date {
    font-size: 24px;
  }

  .zaikosu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin: 48px;
  }

  .button-group {
    display: flex;
    align-items: center;
    
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  